.wrapper {
    background: lavender;
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }