.jumbotron {
    background-color: lavender;
    min-height: 150px;
    font-family: 'Handlee', cursive;
    color: purple;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    padding-top: 30px;
    margin: 0;
}

h4 {
    margin: 0;
}


